/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "variables", "mixin";

@import "compass/css3";
@import "compass/typography";

$supported-browsers: chrome;

.test-inline-block {
	@include inline-block();
}

.test-opacity {
	@include opacity(.5);
}

/* headline style */
.headline {
	font-family: $headline-ff;
}

/* main content style */
.main-sec {
	font-family: $main-sec-ff;

	.headline {
		/*
		font-family: $main-sec-ff;
		font-size: 16px;
		*/
		font: {
			family: $main-sec-ff;
			size: 16px;
		}
	}

	.detail {
		font-size: 12px;
	}
}

p {
	color: hsl(270, 100%, 50%);
}

.webdemo-sec {
	@include col-6();

	// box-shadow: 1px 1px 3px 2px #cfcecf;
	// -webkit-box-shadow: 1px 1px 3px 2px #cfcecf;
	// -moz-box-shadow: 1px 1px 3px 2px #cfcecf;
	@include box-shadow(1px 1px 3px 2px #cfcecf);

	&:hover {
		background-color: #f5f5f5;
	}
}

%error {
	color: red;
}

.serious-error {
	@extend %error;
	border: 1px red;
}

.test-error {
	@extend %error, .serious-error;
	font-size: 20px;
}

a {
	@include hover-link();
	@include link-colors(#0cc, #c0c, #cc0, #ccc, #00c);
}

.list-unstyled {
	@include no-bullets();
}

.text-force-wrap {
	@include force-wrap();
}

/*compatible with low-version firefox browsers*/
$use-mozilla-ellipsis-binding: true; 
.text-ellipsis {
	@include ellipsis();
}